{% extends "base.html" %}
{% block content %}
    <video class="cover-video" autoplay loop muted>
        <source src="/static/videos/cover0{{ range(1, 6)|random }}.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>
    <div class="cover-contents">
        <p class="index-title">Gooooooogle!</p>
        <div>
            <form class="form-group" id="fakebox">
                <input class="form-control search-bar" type="text" placeholder="Search Google or type a URL" />
                <button id="fakebox-microphone" type="button" title="search in voice"></button>
            </form>
        </div>
        <div class="shortcut-container">
            <a class="shortcut-link" href="https://github.com/daesungra" title="daesungra-github" target="_blank">
                <div class="shortcut" title="daesungra-github">
                    <img class="shortcut-img" src="{{ url_for('static', filename='imgs/gitcat01.png') }}" title="daesungra-github" alt="daesungra-github" />
                </div>
                <div class="shortcut-title" title="daesungra-github">
                    daesungra
                </div>
                <div class="shortcut-settings" href="localhost:5000/" title="shortcut-settings">
                    ...
                </div>
            </a>
            <a class="shortcut-link" href="#" title="#" target="">
                <div class="shortcut-add" title="add shortcut">
                    +
                </div>
                <div class="shortcut-title" title="add shortcut">
                    add shortcut
                </div>
            </a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            convertPage($('.masthead-nav > #gotoHome'));
        });
    </script>
{% endblock %}