{% extends "base.html" %}
{% block content %}
    <hr/>
    <div>
        <p class="index-title">Google</p>
        <div>
            <form class="form-group" id="fakebox">
                <input class="form-control search-bar" type="text" placeholder="Search Google or type a URL" />
                <button id="fakebox-microphone" type="button" title="search in voice"></button>
            </form>
        </div>
        <div class="shortcut-container">
            <a class="shortcut-link">
                <img class="shortcut-img" src="{{ url_for('static', filename='imgs/gitcat01.png') }}" title="" alt="" />
            </a>
        </div>
    </div>
    <hr/>
{% endblock %}