{% extends "base.html" %}
{% block content %}
    <hr/>
    <div class="container-fluid table-board">
        <div class="row table-head">
            <span class="col-md-2 tcontent-id">ID</span>
            <span class="col-md-6 tcontent-title">TITLE</span>
            <span class="col-md-2 tcontent-created">CREATED</span>
            <span class="col-md-2 tcontent-updated" style="border-right: 1px solid #787878;">UPDATED</span>
        </div>
        {% if todo_list %}
            {% for todo in todo_list %}
                <div class="row table-body">
                    <span class="col-md-2 tcontent-id"></span>
                    <span class="col-md-6 tcontent-title">{{ todo.title }}</span>
                    <span class="col-md-2 tcontent-created">{{ todo.created }}</span>
                    <span class="col-md-2 tcontent-updated" style="border-right: 1px solid #787878;">{{ todo.updated }}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <hr/>
    <a href="#" class="btn btn-lg btn-default btn-test">Learn more!</a>
{% endblock %}