{% extends "base.html" %}
{% block content %}
    <div class="board-guide">
        <a class="btn btn-sm btn-default" id="write-page" href="http://localhost:5000/write/">글쓰기</a>
    </div>
    <br/><hr/>
    <div class="container-fluid table-board">
        <div class="row table-head">
            <span class="col-md-2 tcontent-id">ID</span>
            <span class="col-md-6 tcontent-title">TITLE</span>
            <span class="col-md-2 tcontent-created">CREATED</span>
            <span class="col-md-2 tcontent-updated" style="border-right: 1px solid #787878;">UPDATED</span>
        </div>
        {% if result_list %}
            {% for result in result_list %}
                <div class="row table-body">
                    <span class="col-md-2 tcontent-id">{{ result._id.split('.')[0] }}</span>
                    <span class="col-md-6 tcontent-title">{{ result.title }}</span>
                    <span class="col-md-2 tcontent-created">{{ result.created }}</span>
                    <span class="col-md-2 tcontent-updated" style="border-right: 1px solid #787878;">{{ result.updated }}</span>
                </div>
            {% endfor %}
        {% else %}
            <div class="notFound">
                자료가 없습니다!
            </div>
        {% endif %}
    </div>
    <hr/>
    <!-- 동 페이지에서 ajax 로 처리할 것! 페이지 흐름에 대한 고려도 필요함 -->
    <a href="http://localhost:5000/boardList/" class="btn btn-sm btn-default">BOARDS</a>
    <a href="http://localhost:5000/todos/" class="btn btn-sm btn-default">TODOS</a>

    <script>
        $(document).ready(function () {
            convertPage($('.masthead-nav > #gotoBoard'));
        });
    </script>
{% endblock %}