{% extends "base.html" %}
{% block content %}
    <div class="board-guide">
        <a class="btn btn-sm btn-default" id="write-page" href="http://localhost:5000/boardList/">목록으로</a>
    </div>
    <br/><hr/>
    <div class="write-container">
        <span>게시글 보기</span>
        <span>(게시판 종류, 사용자 정보 출력)</span>
        <hr>
        id, title, body, author, created, updated
        <button type="button" class="btn btn-sm btn-default" id="getModifyPage">수정하기</button>
        <button type="button" class="btn btn-sm btn-default" id="deleteAction">삭제하기</button>
    </div>
    <hr/>
    <div class="write-container">
        <span>(댓글 파트)</span>
        <hr>
        댓글 순서대로 보여주고,<br/>
        댓글 쓰기 위치한다. (댓글 crud)<br/>
        댓글은 ajax 로 처리!<br/>
        <button type="button" class="btn btn-sm btn-default">댓글쓰기</button>
    </div>
    <hr/>

    <script>
        $(document).ready(function () {
            convertPage($('.masthead-nav > #gotoBoard'));

            $('.write-container #getModifyPage').on('click', function() {
                location.href="http://localhost:5000/modify/"
            });
            $('.write-container #deleteAction').on('click', function() {
                alert('삭제 액션!');
            });
        });
    </script>
{% endblock %}