{% extends "base.html" %}
{% block content %}
    <div class="board-guide"> <!-- 모듈화 하기! -->
        <div class="subject">{{ subject }}</div>
        <button class="btn btn-sm btn-default" id="gotoWritePage">글쓰기</button>
    </div>
    <br/><hr/>
    <div class="container-fluid table-board">
        <div class="row table-head">
            <span class="col-md-6">TITLE</span>
            <span class="col-md-2">AUTHOR</span>
            <span class="col-md-2">CREATED</span>
            <span class="col-md-2" style="border-right: 1px solid #787878;">UPDATED</span>
        </div>
        {% if result_list %}
            {% for result in result_list %}
                <div class="row table-body" id="{{ result._id }}">
                    <span class="col-md-6">{{ result.title }}</span>
                    <span class="col-md-2">{{ result.author }}</span>
                    <span class="col-md-2">{{ result.created.split(' ')[0] }}</span>
                    <span class="col-md-2" style="border-right: 1px solid #787878;">{{ result.updated.split(' ')[0] }}</span>
                </div>
            {% endfor %}
        {% else %}
            <div class="notFound">
                자료가 없습니다!
            </div>
        {% endif %}
    </div>
    <hr/>
    <!-- 동 페이지에서 ajax 로 처리할 것! 페이지 흐름에 대한 고려도 필요함 -->
    <a href="http://localhost:5000/boards/" class="btn btn-sm btn-default">BOARDS</a>
    <a href="http://localhost:5000/todos/" class="btn btn-sm btn-default">TODOS</a>

    <script>
        $(document).ready(function () {
            var highlight = 'Board';
            var pre_uri = 'board/';
            var post_uri = '';

            if ('{{ subject }}' == 'Todo List') {
                highlight = 'Todo';
                pre_uri = 'todo/';
            }

            convertPage($('.masthead-nav > #goto' + highlight));

            // go to write page
            $('.board-guide #gotoWritePage').on('click', function() {
                post_uri = 'write/';
                getDocument(pre_uri + post_uri, '');
            });

            // go to view page
            $('.table-board .table-body').on('click', function() {
                post_uri = 'view/';
                getDocument(pre_uri + post_uri, this.id);
            });
        });
    </script>
{% endblock %}