{% extends "base.html" %}
{% block content %}
    <div class="board-guide"> <!-- 모듈화 하기! -->
        <a class="btn btn-sm btn-default" href="http://localhost:5000/boards/">목록으로</a>
    </div>
    <br/><hr/>
    <div class="write-container">
        <span>수정하기</span>
        <span>(사용자 정보 출력)</span>
        <hr>
        <form class="form-group write-form" method="post">
            <input name="_id" type="text" class="form-control" value="{{ result._id }}" style="display:none;" />
            <input name="board-type" type="text" class="form-control" value="게시글" readonly />
            <input name="title" type="text" class="form-control title" value="{{ result.title }}" />
            <input name="author" type="text" class="form-control author" value="{{ result.author }}" readonly />
            <input name="updated" type="text" class="form-control updated" value="{{ result.updated }}" readonly />
            <textarea name="content" class="summernote content">{{ result.content }}</textarea>
            <button type="button" class="btn btn-sm btn-default" id="write-submit">제 출</button>
            <button type="button" class="btn btn-sm btn-default" onclick="location.href='http://localhost:5000/board/view/'">돌아가기</button>
        </form>
    </div>
    <hr/>

    <script>
        $(document).ready(function () {
            convertPage($('.masthead-nav > #gotoBoard'));

            $('.summernote').summernote({
                placeholder: '내용 입력',
                tabsize: 2,
                height: 200,
                minHeight: 200,
                maxHeight: null,
                focus: true
            });

            $('.write-form #write-submit').on('click', function() {
                modifyAction($('.write-form'));
            });
        });
    </script>
{% endblock %}