{% extends "base.html" %}
{% block content %}
    <div class="board-guide">
        <a class="btn btn-sm btn-default" id="write-page" href="http://localhost:5000/boardList/">목록으로</a>
    </div>
    <br/><hr/>
    <div class="write-container">
        <span>새 글 쓰기</span>
        <span>(사용자 정보 출력)</span>
        <hr>
        <form class="form-group write-form" method="post">
            <select name="board-type" class="form-control" required>
                <option>(선택) 게시판 종류를 선택하세요</option>
                <option value="boards">게시글</option>
                <option value="todos">할 일</option>
            </select>
            <input name="title" type="text" class="form-control" placeholder="제목 입력" />
            <input name="author" type="text" class="form-control" value="(작성자 이름)" readonly />
            <input name="created" type="text" class="form-control" value="{{ currTime }}" readonly />
            <textarea name="body" class="summernote" name="editordata"></textarea>
            <button type="button" class="btn btn-sm btn-default" id="write-submit">제 출</button>
            <button type="button" class="btn btn-sm btn-default" onclick="location.href='http://localhost:5000/getViewPage/'">뷰 페이지(임시)</button>
        </form>
    </div>
    <hr/>

    <script>
        $(document).ready(function () {
            convertPage($('.masthead-nav > #gotoBoard'));

            $('.summernote').summernote({
                placeholder: '내용 입력',
                tabsize: 2,
                height: 200,
                minHeight: 200,
                maxHeight: null,
                focus: true
            });

            $('.write-form #write-submit').on('click', function() {
                alert('제출한다!');
            });
        });
    </script>
{% endblock %}