{% extends "base.html" %}
{% block content %}
    <div class="board-guide"> <!-- 모듈화 하기! -->
        <a class="btn btn-sm btn-default" href="http://localhost:5000/boards/">목록으로</a>
    </div>
    <br/><hr/>
    <div class="write-container">
        <span>새 글 쓰기</span>
        <span>(사용자 정보 출력)</span>
        <hr>
        <form class="form-group write-form">
            <select name="board-type" class="form-control" required>
                <option>(선택) 게시판 종류를 선택하세요</option>
                <option value="0" selected>게시글</option>
                <option value="1">할 일</option>
            </select>
            <input name="title" type="text" class="form-control title" placeholder="제목을 입력하세요" />
            <input name="author" type="text" class="form-control author" value="testUser" readonly />
            <input name="created" type="text" class="form-control created" value="{{ currTime }}" readonly />
            <textarea name="content" class="summernote content"></textarea>
            <button type="button" class="btn btn-sm btn-default" id="write-submit">제 출</button>
            <button type="button" class="btn btn-sm btn-default" onclick="location.href='http://localhost:5000/board/view/'">뷰 페이지(임시)</button>
        </form>
    </div>
    <hr/>

    <script>
        $(document).ready(function () {
            convertPage($('.masthead-nav > #gotoBoard'));

            $('.summernote').summernote({
                placeholder: '내용을 입력하세요',
                tabsize: 2,
                height: 200,
                minHeight: 200,
                maxHeight: null,
                focus: true
            });

            $('.write-form #write-submit').on('click', function() {
                writeAction($('.write-form'));
            });
        });
    </script>
{% endblock %}