/*
 * board guide style
 */
.board-guide {
    width: 100px;
    float: right;
}
.board-guide .btn-default {
    float: right;
}

/*
 * board list style (table)
 */
.cover .table-board, .cover .table-head, .cover .table-body {
    /*border: 1px solid blue;*/
}
.cover .table-board {
    margin: 40px 0 40px 0;
}
.cover .table-head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.cover .table-body {
    margin-bottom: 3px;
}
.cover .table-body:hover {
    background-color: #d4dde6;
    cursor: pointer;
}
.cover .table-board span {
    border-left: 1px solid #787878;
}

/*
 * button style
 */
.cover .btn-test {
    width: 60%;
    height: 60%;
    margin-top: 10px;
}

/*
 * not found
 */
.cover .notFound {
    margin-top: 30px;
}

/*
 * write page
 */
.write-container {
    text-align: left;
    background-color: #fff;
    padding: 20px 15px 20px 15px;
    border: 1px solid #ababab;
}
.write-container > span:first-child {
    font-size: 18pt;
}
.write-container > span {
    font-size: 8pt;
}
.write-container > .write-form > input, select {
    margin-bottom: 10px;
}
.write-container > .write-form > button {
    margin-top: 10px;
}


